.portfolio-header {
  background-image: url(../images/header-bg.jpg);
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: transparent;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title_top {
    display: block;  
    font-size: 20px;
    font-weight: 400;
  text-align: center;
}

.mdl-layout__title_bottom {
 display: block; 
    font-size: 14px;
  text-align: center;
        font-weight: 200;
margin: 10px;
}

.is-compact .mdl-layout__title span {
  display: none;
}
.is-compact .download_button {
  display: none;
}


.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(../images/logo.svg) 50% no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
  margin: 50px auto 0px auto;
}

.logo-container-left {
  
  height: 80px;
  width: 30%;
}
.logo-container-right {
  
  height: 80px;
  width: 30%;
  
}

.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
    color: white;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}


img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

footer {
  background-image: url(../images/footer-background.png);
  background-size: cover;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.download_button {
    z-index: 10;
    animation-delay: 1s;
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

.contact-text {
    padding-top: 16px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.faq-link {
    text-decoration: none;
    color: #3F51B5 !important;
}

.faq-link-to-main {
    text-decoration: none;
    color: #3F51B5 !important;
    margin: 30px;
}

.faq-section-top {
    border-left: 4px solid #FFC107;
    padding-left: 12px;
    margin: 30px;
}

.faq-section-bottom {
    margin: 30px;
}

.faq-title {
    margin: 30px;
}